<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/web/fragments :: html_head">
</head>
<body>
<!-- header -->
<div th:replace="/web/fragments :: header"></div>
<!-- header -->
<!--body-->

<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4"> [[${categoryCode}]]
    </h1>

    <div class="row">
        <div th:each="item:${phoneModel}" class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" th:src="@{/images/phone.png}"
                                 style="height: 100%; width: 100%" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:text="${item.name}" href="#"></a>
                    </h4>
                    <h5 th:text="${item.price}"></h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <ul th:replace="/web/fragments :: pagination"></ul>
</div>

<!-- footer -->
<div th:replace="/web/fragments :: footer"></div>
<!-- footer -->
<div th:replace="/web/fragments :: script"></div>
</body>
</html>